body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #252525;
}
img {
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  text-transform: uppercase;
  font-weight: 800;
  line-height: 27px;
}

ul {
  padding-left: 4px;
}

li {
  list-style-type: none;
  padding: 5px 0;
}

a,
a:visited,
a:hover {
  color: #252525;
  text-decoration: none;
  cursor: pointer;
}

.numbers {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px dashed #252525;
  padding: 3px;
  border-radius: 5px;
  margin-right: 10px;
  font-weight: 800;
}
